/* fonts */
@import "../fonts/inter.css";
@import "../fonts/poppins.css";
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../views/';

@theme {
    --font-body:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-heading:
        "Poppins-Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-muted: #6b7280;
    --color-primary: #434ad0;
    --color-secondary: #cf93e4;
    --color-bg: #f7f7fd;
    --color-text: #07081d;
    --color-accent: #d56ddb;
}

@layer base {
    :root {
        @apply font-body bg-bg text-text;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading font-bold tracking-tighter;
}

h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
}

h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
}

h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
}

h4 {
    @apply text-lg md:text-xl lg:text-2xl;
}

h5 {
    @apply text-base md:text-lg lg:text-xl;
}

h6 {
    @apply text-sm md:text-base lg:text-lg;
}

input,
button,
textarea,
select {
    @apply font-body text-text placeholder:text-muted transition-all outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-accent focus-visible:ring-offset-bg focus-visible:border-transparent;
}

textarea {
    @apply border border-text/20;
}

input {
    @apply font-body px-3 py-2 text-sm bg-bg/75 rounded-md border border-text/20 focus-visible:border-transparent;
}

a {
    @apply hover:underline underline-offset-2 transition-colors focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-accent focus-visible:ring-offset-bg outline-none;
}